input {
  @include main_text;
  @include main_border;

  position: relative;
  margin-bottom: -1px;
  padding: 15px;
  padding-left: 50px;
  width: 100%;

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: lighten($textColor, 50%);
    font: {
      family: $mainFont;
      style: italic;
    }
    letter-spacing: 0.05rem;
  }
}
