.todos__form {
  input {
    position: relative;
  }
  label {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 20px;
      top: 30%;
      width: 7px;
      height: 7px;
      border-bottom: 2px solid $borderColor;
      border-right: 2px solid $borderColor;
      z-index: 999;
      transform: rotate(45deg) translateY(-50%);
    }
  }
}
