$textColor: rgb(79, 79, 79);
$h1Color: rgb(233, 217, 216);
$fadeText: lighten($textColor, 50%);
$borderColor: rgb(238, 238, 238);
$bgColor: rgb(245, 245, 245);
$checkMarkColor: rgb(124, 194, 178);
$mainFont: "Aileron UltraLight";
