@font-face {
  font-family: "Aileron UltraLight";
  src: local("Aileron UltraLight"),
    url("./Assets/fonts/Aileron-UltraLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aileron UltraLight";
  src: local("Aileron UltraLight"),
    url("./Assets/fonts/Aileron-UltraLightItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
