@mixin main_text {
  font: {
    family: Arial, sans-serif;
    size: 1.1rem;
  }
  color: $textColor;
}

@mixin main_border {
  border: 1px solid $borderColor;
}

@mixin checkBox($selector) {
  #{$selector} {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $borderColor;
  }
}

@mixin checkMark($selector) {
  #{$selector} {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: 45%;
    width: 5px;
    height: 12px;
    border-bottom: 1px solid $checkMarkColor;
    border-right: 1px solid $checkMarkColor;
    transform: rotate(30deg) translateY(-50%) skewY(20deg);
  }
}

%hover_active {
  &:hover {
    box-shadow: 0 0 3px 1px $bgColor;
  }

  &:active {
    box-shadow: inset 0 0 3px 1px $bgColor;
  }
}

%not_selectable {
  user-select: none;
}

@mixin outer_shadow($props...) {
  box-shadow: $props darken($bgColor, 10%);
}

%multiple_shasow {
  box-shadow: -1px 0 2px 0 darken($bgColor, 10%),
    1px 0 2px 0 darken($bgColor, 10%), 0 1px 2px 0 darken($bgColor, 10%);
}
