@import "./fonts";
@import "./reset";
@import "./constants";
@import "./utils";
@import "./App";

html {
  @include main_text;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
