@import "./reset";
@import "./constants";
@import "./utils";
@import "./App";

@font-face {
  font-family: "Fndtn Sns Cd Lt";
  src: local("Fndtn Sns Cd Lt"),
    url("./Assets/fonts/Fontspring-DEMO-FoundationSans-LightCd.otf");
}

html {
  @include main_text;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
